run = "python main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["cacert", "freetype", "lcms2", "libimagequant", "libjpeg", "libsodium", "libtiff", "libwebp", "libxcrypt", "nettle", "openjpeg", "openssh", "openssl", "postgresql", "tcl", "tk", "unzip", "zlib"]

[deployment]
deploymentTarget = "autoscale"
run = ["python", "main.py"]
