run = "python main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["cacert", "libsodium", "libxcrypt", "nettle", "openssh", "openssl", "postgresql", "unzip"]

[deployment]
deploymentTarget = "autoscale"
run = ["python", "main.py"]
